---
layout: default
id: home
title: Portfolio
---

<div class="container">
  <div class="top-intro">
    <div class="ts-measure">
      <p class="f2">Young and hungry graphic designer based in Warsaw.  Graduaded Warsaw School of Advertising in 2018 at graphic design specialisation, now continues education in Academy of Television and Movie. Member of collective exhibitions in Warsaw Poster Museum, Ministry of Culture in Warsaw, Creative Center in Warsaw, Hala Koszyki. Cooperation available in Polish and English. 24h creative. Typography lover. Paper and printing truest fan.</p>
    </div>
    <a class="button" href="mailto:esy_floresy@op.pl">Pogadajmy</a>
  </div>

  <div class="work" style="position: relative">
    <div class="work-list grid grid-d2-m1">
      {% for work in site.work reversed %}
        <div class="work-list-item grid-item {{ work.class }}">
          <a class="work-list-item-link" href="{{ work.url | relative_url }}"></a>
          <div class="work-list-item-media">
            <div class="work-list-item-background" style="background-color: {{ work.color }};"></div>
            <div class="work-list-item-media-inner"">
              <img class="work-list-item-thumbnail lazyload" src="{{ work.cover | relative_url }}" />
            </div>
          </div>
          <div class="work-list-item-text">
            <h3 class="work-list-item-title fs-reset">{{ work.title }}</h3>
            <small class="work-list-item-type">{{ work.description }}</small>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}
</div>
